/*** Sass - requires Ruby Installation */
/* Define standard variables and values for website */
/*$bgcolor: lightblue;
$textcolor: darkblue;
$btnbgcolor:#008CBA; 
$fontsize: 18px;
$screenwidthtransition:500px;
*/



/*
all HTML elements have the box-sizing property set to border-box. 
This makes sure that the padding and border are included in the total width and height of the elements.
*/

* {
  box-sizing: border-box;
    font: status-bar;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
/*    overflow: hidden;*/

  font-family: Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.grid-container {
  display: grid;
/*    Set 12 columns with auto width*/
grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
 background-color: #d6efe3;
    border-radius: 20px;
}

.grid-container > div {
  
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
        font: status-bar;
}
/*
Make "item1" start on row 1 and span 2 rows:

.item1 {
  grid-row: 1 / span 2;
}
The grid-row property is a shorthand property for the grid-row-start and the grid-row-end properties.

Make "item1" start on column 1 and end before column 5:

.item1 {
  grid-column: 1 / 5;
}

The grid-column property is a shorthand property for the grid-column-start and the grid-column-end properties.

The grid-area property can be used as a shorthand property 
for the grid-row-start, grid-column-start, grid-row-end and the grid-column-end properties.
Make "item8" start on row-line 1 and column-line 2, and end on row-line 5 and column line 6:

.item8 {
  grid-area: 1 / 2 / 5 / 6;
}
*/

.item1 { grid-area: 1 / 1 / 1 / 12 ; }
.item2 { grid-area: 2 / 1 / 2 / 6; }
.item3 { grid-area: 2 / 6 / 2 / 12; }
.item4 { grid-area: 3 / 1 / 3 / 6; }
.item5 { grid-area: 3 / 6 / 3 / 12 ;}
.item6 { grid-area: 4 / 1 / 4 / 6 ;}
.item7 { grid-area: 4 / 6 / 4 / 12 ;}
.item8 { grid-area: 5 / 1 / 5 / 12 ;}

/* Change layout for smaller screen width  */
@media only screen and (max-width: 500px) {
.item1 { grid-area: 1 / 1 / 1 / 12 ; }
.item2 { grid-area: 2 / 1 / 2 / 12; }
.item3 { grid-area: 3 / 1 / 3 / 12; }
.item4 { grid-area: 4 / 1 / 4 / 12; }
.item5 { grid-area: 5 / 1 / 5 / 12 ; }
.item6 { grid-area: 6 / 1 / 6 / 12 ;} 
.item7 { grid-area: 7 / 1 / 7 / 12 ;} 
.item8 { grid-area: 8 / 1 / 8 / 12 ;} 
      #the-canvas {
        width: 100%;
    max-width: 472px;

    /* Add webkit prefixes */
    -webkit-width: 100%;
    -webkit-max-width: 472px;
  }
}










.button {
	background-color: #0023ba;
	border: none;
    border-radius: 10px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: inherit;
	margin: 4px 2px;
	cursor: pointer;
    width:45%;
}  

h1{
    text-align: center;
    font-size: xx-large;
    margin: auto;
}
        table {
            width: 100%;
            
        }
        th, td {
            border: 1px solid black;
            border-radius: 5px;
            
        }
        th, td {
            padding: 5px;
            text-align: center;
        }
        th {
            background-color: #a3ebbe;
        }
 tr:hover {
          background-color: #ffff99;
        }

.footer{
    font-size: 20px;
}



body {

}

#pdf-container {
  position: relative;
}

#the-canvas {
  display: none; /* Initially hidden */
  max-width: 100%;
}

/*#pdf-controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}*/

#pdf-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;

  /* Add webkit prefixes */
  -webkit-display: flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-background-color: rgba(0, 0, 0, 0.8);
  -webkit-padding: 10px;
  -webkit-opacity: 0;
  -webkit-visibility: hidden;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
}

#pdf-controls.hidden {
  display: none;
}

#pdf-controls.visible {
  opacity: 1;
  visibility: visible;

  /* Add webkit prefixes */
  -webkit-opacity: 1;
  -webkit-visibility: visible;
}

#pdf-controls button {
  margin: 0 5px;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 32px;

  /* Add webkit prefixes */
  -webkit-margin: 0 5px;
  -webkit-padding: 10px;
  -webkit-background-color: #fff;
  -webkit-border: none;
  -webkit-border-radius: 5px;
  -webkit-cursor: pointer;
  -webkit-font-size: 32px;
}

#pdf-controls input[type="number"] {
  width: 32px;
  padding: 5px;
  font-size: 16px;
  text-align: center;

  /* Add webkit prefixes */
  -webkit-width: 50px;
  -webkit-padding: 5px;
  -webkit-font-size: 16px;
  -webkit-text-align: center;
}
#pdf-controls #goto-page {
  width: 60px;
  text-align: center;
}

